/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --translucent-accent-color: rgb(53 52 48 / 0.4);
  --background-color: #fff1f7;
  --logo-color: #ffc2e6;
  --text-color: #353430;
  --cover-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --translucent-accent-color: rgb(53 52 48 / 0.4);
    --background-color: #fff1f7;
    --logo-color: #ffc2e6;
    --text-color: #353430;
    --cover-image: url(../images/cover-image-light.png);
  }
  
  .theme_auto .decoration {
    display: none;
  }
  
  .theme_auto .decorated-zone::before,
  .theme_auto .decorated-zone::after,
  .theme_auto .header__theme-menu-button_active,
  .theme_auto .header__theme-menu-button:focus-visible {
    border-color: var(--text-color);
  }
  
  .theme_auto .header__theme-menu-button,
  .theme_auto .title-decor,
  .theme_auto .content-section__title {
    color: var(--text-color);
  }
}