/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--page-gap);
  padding-inline: var(--page-padding);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--background-color);
  background-image: var(--cover-image), url(../images/cover-image.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "menu"
    "title"
    "subtitle";
  align-items: center;
  block-size: 100vh;
  padding-block: var(--page-padding);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: var(--page-padding);
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}


.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: var(--page-padding);
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.decoration {
  position: absolute;
  inset-inline-end: 28px;
  inset-block-start: var(--page-padding);
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
}

.decoration::after {
  content: "";
  position: absolute;
  inset-inline-end: -19px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  grid-area: menu;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px 5px;
  color: var(--accent-color);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--translucent-accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__title {
  grid-area: title;
  color: var(--logo-color);
  font-size: 116px;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  grid-area: subtitle;
  justify-self: end;
}

.title-decor {
  color: var(--background-color);
  font-weight: bold;
  font-size: inherit;
  background-color: var(--accent-color);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  color: var(--text-color);
}

.content-section,
.content-section__list {
  display: grid;
  gap: 20px;
}

.content-section__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-section__title {
  color: var(--accent-color);
  font-size: inherit;
}

.text-link {
  position: relative;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  border-block-end: 1px solid var(--text-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.non-bold_title {
  font-weight: normal;
}

.gallery {
  display: grid;
  grid-auto-flow: dense;
  gap: var(--page-padding);
  margin-block-start: var(--page-padding);
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  padding-block: var(--page-padding);
}

.footer .header__title {
  font-weight: bold;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.theme_light .decoration {
  display: none;
}

.theme_light .decorated-zone::before,
.theme_light .decorated-zone::after,
.theme_light .header__theme-menu-button_active,
.theme_light .header__theme-menu-button:focus-visible {
  border-color: var(--text-color);
}

.theme_light .header__theme-menu-button,
.theme_light .title-decor,
.theme_light .content-section__title {
  color: var(--text-color);
}

@media (width > 375px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "menu menu"
    "title title"
    ". subtitle";
  }

  .header .header__title {
    position: relative;
    inset-inline-end: var(--page-padding);
  }

  .gallery {
    grid-template-columns: repeat(3, auto);
  }

  .two-column-image {
    grid-column: span 2;
  }

  .two-row-image {
    grid-row: span 2;
  }
}

@media (375px < width <= 768px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .content-section:not(.content-section_columns) {
    grid-template-columns: minmax(min-content, 236px) auto;
  }

  .content-section_columns .content-section__title {
    max-inline-size: 236px;
  }

  .content-section__list-item {
    overflow-wrap: anywhere;
  }
}

@media (width > 768px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content-section:not(.content-section_columns) {
    grid-template-columns: minmax(236px, 315px) auto;
  }
  
  .content-section_columns .content-section__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .content-section_columns .content-section__title {
    max-inline-size: 315px;
  }
}